<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareSession()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <h1>{{session.name}}</h1>
    <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
    <p>{{session.description}}</p>
    <ion-text color="medium">
      {{session.timeStart}} &ndash; {{session.timeEnd}}
      <br /> {{session.location}}
    </ion-text>
  </div>

  <app-session-detail-invited-people [sessionId] = "session?.id">
  </app-session-detail-invited-people>

  <form [formGroup] = "invitedPersonForm" (ngSubmit)="onFormSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Invite people:</ion-label>
        <ion-input placeholder="email.." formControlName="email" type="email"></ion-input>
        <ion-button type="submit" slot ="end">Send</ion-button>
      </ion-item>
    </ion-list>
  </form>

  <app-session-detail-tasks [sessionId] = "session?.id">
  </app-session-detail-tasks>

  <ion-item>
    <ion-button slot="end" (click)="presentTaskForm()">Add Task</ion-button>
  </ion-item>

</ion-content>
